<form action="/add" method="POST">
    <p>Título:</p>
    <input type="text" name="titulo">
    <p>Contéudo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar Postagem</button>
</form>

<!-- Este html não possui a estrutura (header|body), pois ele está definido no layout/main.handlebars.

[*] o action é para informar para qual rota o usuário irá enviar o formulário.  