<h1>Lista de Posts: </h1>

<!-- para cada post, será aplicado será exibido o titulo e o conteudo !-->
{{#each posts}}

    <h2>{{titulo}}</h2>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>

{{/each}}